<!--  -->
<nav class="navbar  navbar-dark border-bottom shadow py-2 ">
  <a href="/admin/home" class="nav-link ms-2">Home</a>
  <a href="/admin/questions" class="nav-link">Questions</a>
  <a href="/admin/add-question" class="nav-link me-2">Add-Question</a>
  <div class="container-fluid">
    <div class=" d-flex">

    </div>

  </div>
</nav>
<br><br>