<div id="submit__container"
  class="position-absolute start-0 end-0 top-0 bottom-0 d-flex flex-column justify-content-around d-none"
  style="height: 100vh ; justify-content: center; background-color: rgba(0, 0, 0, .6);">
  <div id="animate__submit" style="background:purple;height:100px;width:100px;position:absolute;"
    class="d-flex align-items-center justify-content-center">
    <p class="fs-2 fw-bold text-center text-white">Submitting...</p>
  </div>
</div>