<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title class="text-capitalize"><%=typeof pageTitle != 'undefined' ? pageTitle : 'Home' %></title>

  <!-- css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <!-- * font awesome -->
  <script src="https://kit.fontawesome.com/f854723461.js" crossorigin="anonymous"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kalam&family=Roboto:ital,wght@0,400;0,500;1,300&family=Rubik:ital,wght@0,300;0,400;1,500&display=swap" rel="stylesheet">

  <!-- ! css -->
  <link rel="stylesheet" href="/css/style.css">

</head>
<body>
  <div class="container  position-relative pb-5">
    <%- body %> 
  </div>
  
  <!-- javascript and jquery -->
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>
  <script src="/js/index.js"></script>



</body>
</html>