:root{
  --bs-font-sans-serif: 'Rubik', sans-serif;
  --border-login-color : rgba(0, 0, 0, .16)
}
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(243,243,243);
  display: flex;
  min-height: 100vh!important;

  flex-direction: column;
}
.container{
  min-height: 100vh!important;
  padding-bottom: 200px!important;
  /* border: 2px solid red; */
}
.admin-login{
  background-color: rgb(243,243,243);
  min-height: 100vh!important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.small-text{
  font-size: 13px;
}

.login-container{
  width: 400px;
  border: 2px solid var(--border-login-color);
  border-radius: 8px;
  box-shadow: 0 5px 6px rgba(0, 0, 0, .25);
  background-color: white;
}
@media screen and( max-width : 500px){
  .login-containe{
    width: 100%;
  }
  .questino-img{
    width: 100%;
  }
}

.questino-img > img{
  width: 100%;
  object-fit: cover;
}
.question-container{
  width: 100%;
  max-width: 400px;
  /* border: 2px solid; */
}

.navbar{
  background-color: rgba(0, 0, 0, 0.794);
  padding: 20px 0 !important;
}
.navbar .nav-link{
  color : grey;
  font-size: large;
  font-weight: 400;
}



