<div class="uploading__effect__container h-100 w-100 d-none" style="background-color: rgba(237, 231, 231, 0.8); position: absolute; z-index: 1111;">
<p class="uploading__para lead fw-bold text-center text-primary" style="margin-top: 250px"
>Uploaded -> 0</p>
<p class="pending__para lead fw-bold text-center text-secondary">
Pending -> All
</p>
</div>
<%- include("../partials/admin-navbar") %>
<div class="form-warper px-1 mx-0 mx-md-auto" style="max-width: 400px;">
<h2 class="page-title">Add questions</h2>
<br>
<%- include("../partials/messages") %>

  <form action="/admin/add-question" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <p id="subject__error" class="mb-0 text-danger d-none">*Select the subject</p>
      <select id="select__subject" class="form-select form-select mb-3" name="subject" aria-label=".form-select-lg example">
        <option selected>Open this select subject</option>
        <option value="Current Gk">Current Gk</option>
        <option value="Rajasthan GK">Rajasthan GK</option>
        <option value="India Gk">India Gk</option>
        <option value="Reasioning">Reasioning</option>
        <option value="World GK">World GK</option>
        <option value="Hindi">Hindi</option>
        <option value="Science">Science</option>
        <option value="math">Math</option>
      </select>
    </div>
    <div class="form-group mb-3">
      <p id="image__error" class="mb-0 text-danger d-none">*Select the Photos</p>
      <label for="fw-bold">Add Photos.</label>
      <input type="file"  id="file__input"  name='images' placeholder='Maximum Photos 25'class="form-control form-control" accept="image/*" multiple>
    </div>

  </form>
  <button id="input__submit"  class="form-control-lg form-control btn btn-primary" placeholder="Upload images">Submit</button>
</div>
  <script src="/js/admin_question_post.js"></script>

<%- include("../partials/footer") %>
