<%- include("../partials/admin-navbar") %>

<h2 class="page-title">Add questions</h2>
<br>
<%- include("../partials/messages") %>

<div class="form-warper">
  <form action="/admin/add-question" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <select class="form-select form-select-lg mb-3" name="subject" aria-label=".form-select-lg example">
        <option selected>Open this select subject</option>
        <option value="Current Gk">Current Gk</option>
        <option value="Rajasthan GK">Rajasthan GK</option>
        <option value="India Gk">India Gk</option>
        <option value="Reasioning">Reasioning</option>
        <option value="World GK">World GK</option>
        <option value="Hindi">Hindi</option>
        <option value="Science">Science</option>
        <option value="math">Math</option>
      </select>
    </div>
    <div class="form-group mb-3">
      <label for="fw-bold">Add Photos.</label>
      <input type="file"  name='images' placeholder='Maximum Photos 25'class="form-control-lg form-control" multiple>
    </div>
    <div class="form-group mb-3">
      <input type="submit" class="form-control-lg form-control btn btn-primary" placeholder="Upload images">
    </div>
  </form>
</div>

<%- include("../partials/footer") %>
